/PorductEntreprise-ejb/build/
/PorductEntreprise-war/build/
/PorductEntreprise-ejb/dist/
/AppClient/nbproject/private/
/AppClient/build/
/ClientApp/nbproject/private/
/ClientApp/build/
/AppWeb/nbproject/private/
/AppWeb/build/
/WebApp/nbproject/private/
/WebApp/build/
